code {
    color: #FF8C00;
    padding: 2px 4px;
    background: rgb(34, 34, 34);
    white-space: pre-line;
    display: inline-block;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 0.25rem;
    font-family: CamingoCode-Regular,monospace;
}